
.button{
    padding: auto;
    color: #333;
    border-radius: 8px;
    border: 2px solid #999;
    width: 140px;
    font-weight:bold;
    font-size:120%;
    text-align : center;
}






#player_text {
    color: #005000;
}

#dealer_text {
    color: #005000;
}

#deck_text {
    color: #005000;
}


