.text {
    border-radius: 15px;
    margin: -140px auto;
    width:768px;
    height:500px;
}

#main{
    width:850px;
    margin: 30px auto;
}

#table{
    margin-top: -370px;
    margin-left: -136px;
}

#btns_block{
    top:150px;
    left: 250px;
}
#dealerTotal, #playerTotal{
    margin-top: -20px;
}


#win{
    position: absolute;
    margin-top: 325px;
}


#player_place {
    position: absolute;
    margin-left: 235px;
    margin-top: 350px;
    width: 290px;
    height: 158px;
}


#dealer_place {
    position: absolute;
    margin-top: 210px;
    margin-left: 240px;
    width: 290px;
    height: 120px;
}

#dealer_text {
    position: absolute;
    margin-left: 160px;
    margin-top: 210px;
    text-align : center;
}

#deck_text {
    position: absolute;
    margin-left: 603px;
    margin-top: 390px;
    text-align : center;
}

#player_text {
    position: absolute;
    margin-left: 160px;
    margin-top: 340px;
    color: #005000;
    text-align : center;
}
